:host {
  display: block;
  padding: var(--app-space-xl) var(--app-space-md);
  text-align: center;

  ion-icon {
    font-size: var(--app-font-size-xl);
  }

  h3 {
    margin: var(--app-space-sm) 0 var(--app-space-xs);
    font-size: var(--app-font-size-md);
    font-weight: var(--app-font-weight-semibold);
  }

  p {
    margin: 0;
    font-size: var(--app-font-size-sm);
  }
}
